<a href="https://colab.research.google.com/github/aditya-agr/Python-Programming/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***A program to use arithmetic, logical and relational operators.***

In [ ]:
eden num1 = int(input("Enter the 1st number : "))
num2 = int(input("Enter the 2st number : "))

print("Arithmetic Operatrions")
print("Sum = ", num1 + num2)
print("Sub = ", num1 - num2)
print("Multiply = ", num1 * num2)
print("Divide = ", num1 / num2)
print("Modulo = ", num1 % num2)

print("Logical Operatrions")
print("Num1 and Num2 = ", num1 and num2)
print("Num1 or Num2 = ", num1 or num2)
print("not Num1 =", not num1)
print("not Num2 =", not num2)

print("Relational Operatrions")
print("Num1 > Num2 = ", num1 > num2)
print("Num1 < Num2 = ", num1 < num2)
print("Num1 == Num2 = ", num1 == num2)
print("Num1 != Num2 = ", num1 != num2)
print("Num1 <= Num2 = ", num1 <= num2)
print("Num1 >= Num2 = ", num1 >= num2)

Enter the 1st number3
Enter the 2st number1
Arithmetic Operatrions
Sum =  4
Sub =  2
Multiply =  3
Divide =  3.0
Modulo =  0
Logical Operatrions
Num1 and Num2 =  1
Num1 or Num2 =  3
not Num1 = False
not Num2 = False
Relational Operatrions
Num1 > Num2 =  True
Num1 < Num2 =  False
Num1 == Num2 =  False
Num1 != Num2 =  True
Num1 <= Num2 =  False
Num1 >= Num2 =  True

***A program to check a number is even or odd.***

In [ ]:
num = int(input("Enter the number : "))

if num%2==0:
  print("Even number.")
else:
  print("Odd number.")

Enter the number2
Even number.

***A program to check greater of two number.***

In [ ]:
num1 = int(input("Enter the 1st number : "))
num2 = int(input("Enter the 2st number : "))

if num1 > num2:
  print("1st number is greater")
else:
  print("2nd number is greater.")

Enter the 1st number4
Enter the 2st number6
2nd number is greater.

***A program to check greater of three number.***

In [ ]:
num1 = int(input("Enter the 1st number : "))
num2 = int(input("Enter the 2st number : "))
num3 = int(input("Enter the 3rd number : "))

if num1 > num2:
  if num1 > num3:
    print("1st number is greater")
  else:
    print("3rd number is greater")
else:
  if num2 > num3:
    print("2nd number is greater")
  else:
    print("3rd number is greater")

Enter the 1st number4
Enter the 2st number5
Enter the 3rd number7
3rd number is greater

***A program to check a number is prime or composite.***

In [ ]:
num = int(input("Enter the number : "))
flag = 0
for i in range(2, num//2):
  if num%i == 0:
    flag = 1
    break
if flag == 0:
  print("Prime number")
else:
  print("Composite Number")

Enter the number15
Prime number

***A program to print all odd and even numbers in a range of n.***

In [ ]:
num = int(input("Enter the number : "))
print("Even number : ")
for i in range(0,num+1,2):
  print(i)
print("Odd number.")
for i in range(1,num+1,2):
  print(i)

Enter the number5
Even number :
0
2
4
Odd number.
1
3
5

***A program to print all prime numbers in a range of n.***

In [ ]:
num = int(input("Enter the number : "))
print("Prime numbers : ")
for j in range(2,num+1):
  flag = 0
  for i in range(2, j):
    if j%i == 0:
      flag = 1
      break
  if flag == 0:
    print(j)

Enter the number17
Prime numbers :
2
3
5
7
11
13
17

***A program to find reverse of a number.***

In [ ]:
num = int(input("Enter the number : "))
ans = 0
temp = num
while temp != 0:
  rem = temp % 10
  ans = ans * 10 + rem
  temp //= 10
print("Reverse Number : ", ans)

Enter the number : 456
Reverse Number :  654

***A program to find a number is palindrome or not.***

In [ ]:
num = input("Enter the number : ")
n = len(num)
flag = 0
for i in range(0,n//2):
    if num[i] != num[n-i-1]:
      flag = 1
      break
if flag == 0:
  print("Palindrome Number")
else:
  print("Not Palindrome Number")

Enter the number : 345
Not Palindrome Number

***A program to find a number is armstrong or not.***

In [ ]:
num = input("Enter the number : ")
n = len(num)
num = int(num)
temp = num
sum = 0
while temp > 0:
  rem = temp % 10
  sum = sum + pow(rem, n)
  temp //= 10
if sum == num:
  print("Aemstrong Number.")
else:
  print("Not Aemstrong Number.")

Enter the number : 541
Not Aemstrong Number.

***A program to print all armstrong numbers in a range of n.***

In [ ]:
import math
num = int(input("Enter the number : "))
print("The Armstrong numbers between 1 and ", num, " : ")
i  = 1
while i <= num:
  count = i
  sum = 0
  digits = int(math.log10(i)) + 1
  while count > 0:
    rem = count % 10
    sum = sum + pow(rem, digits)
    count = count // 10
  if i == sum:
      print(i)
  i = i + 1

Enter the number : 1000
The Armstrong numbers between 1 and  1000  :
1
2
3
4
5
6
7
8
9
153
370
371
407

***A program to find a number sum of n numbers.***

In [ ]:
num = int(input("Enter the number : "))
sum = 0
for i in range(1, num+1):
  sum += i
print("Sum of first N number : ", sum)

Enter the number : 4
Sum of first N number :  10

***A program to find factorial of a number.***

In [ ]:
num = int(input("Enter the number : "))
fact = 1
for i in range(1, num+1):
  fact = fact * i
print("Factorial of ",num, " : ", fact)

Enter the number : 4
Factorial of  4  :  24

***A program to find fibonacci series upto n terms.***

In [ ]:
num = int(input("Enter the number : "))
i = 1
t1 = 0
t2 = 1
print("Fibonacci Series : ")
while i <= num:
  print(t1)
  t2 = t1 + t2
  t1 = t2 - t1
  i = i + 1

Enter the number : 5
Fibonacci Series :
0
1
1
2
3

***A program to find a year is leap year or not.***

In [ ]:
y = int(input("Enter the year : "))
if y % 400 == 0:
  print("The entered year is a leap year.")
elif y % 100 == 0:
  print("The entered year is not a leap year.")
elif y % 4 == 0:
  print("The entered year is a leap year.")
else:
  print("The entered year is not a leap year.")

Enter the year : 2000
The entered year is a leap year.

***A program to temperature from Centigrade to Fahreheit.***

In [ ]:
c = int(input("Enter the Temperature in Centigrade : "))
f = c*9/5 + 32;
print("The Temperature in Fahrenheit : ", f)

Enter the Temperature in Centigrade : 100
The Temperature in Fahrenheit :  212.0

***A program to temperature from Fahreheit to Centigrade.***

In [ ]:
f = int(input("Enter the Temperature in Fahrenheit : "))
c = (f-32)*5/9;
print("The Temperature in Centigrade : ", c)

Enter the Temperature in Fahrenheit : 212
The Temperature in Centigrade :  100.0

***A program to convert decimal to binary, octal and hexadecimal number using built in function.***

In [ ]:
num = int(input("Enter the number : "))
print("Binary of given no. : ", bin(num))
print("Octal of given no. : ", oct(num))
print("Hexadecimal of given no. : ", hex(num))

Enter the number : 7
Binary of given no. :  0b111
Octal of given no. :  0o7
Hexadecimal of given no. :  0x7

***A program to find factors of a number by defining function.***

In [ ]:
def factor(num):
  for i in range(1,num+1):
    if num%i == 0:
      print(i)

num = int(input("Enter the number : "))
factor(num)

Enter the number : 75
1
3
5
15
25
75

***A program to find factorial of a number by defining function.***

In [ ]:
def factorial(num):
  fact = 1
  for i in range(1,num+1):
    fact *= i
  print("Factorial is ", fact)

num = int(input("Enter the number : "))
factorial(num)

Enter the number : 4
Factorial is  24

***A program to find fibonacci series of a n terms by defining function.***

In [ ]:
def fibonacci(num):
  if num == 0:
    return 0
  elif num == 1:
    return 1
  return fibonacci(num-1) + fibonacci(num-2)

num = int(input("Enter the number : "))
print("Fibonacci Series : ")
for i in range(num):
  print(fibonacci(i))

Enter the number : 5
Fibonacci Series :
0
1
1
2
3

***A program to find factorial of a number by defining recursion function.***

In [ ]:
def factorial(num):
  if num == 1:
    return 1
  return num * factorial(num-1)

num = int(input("Enter the number : "))
print("Factorial is",factorial(num))

Enter the number : 4
Factorial is 24

***A program to find sum of a n number by defining function.***

In [ ]:
def sum(n):
  if n == 1:
    return 1
  return n + sum(n-1)

num = int(input("Enter the number : "))
print("Sum of First N number is",sum(num))

Enter the number : 4
Sum of First N number is 10

***A program to convert decimal number to binary using recursion.***

In [ ]:
num = int(input("Enter the number : "))
n = num
ans = 1 if num%2 == 0 else 0
while num > 1:
  rem = num%2
  ans = ans*10 + rem
  num //= 2
ans = ans*10 + 1 if n%2 != 0 else ans
print("Binary of given no. :", ans)

Enter the number : 8
Binary of given no. : 1000

***A program to display powers of 2 using anonymous function.***

In [ ]:
terms = int(input("How many terms? "))
 
result = list(map(lambda x: 2 ** x, range(terms)))
 
for i in range(terms):
   print("2 raised to power",i,"is",result[i])

How many terms? 5
2 raised to power 0 is 1
2 raised to power 1 is 2
2 raised to power 2 is 4
2 raised to power 3 is 8
2 raised to power 4 is 16

***A program to find area of triangle, circle and cylinder.***

In [ ]:
import math

rad = int(input("Enter the radius of circle : "))
circle = lambda r: math.pi*r*r
print("Area of Circle :", circle(rad))

base = int(input("Enter the base of triangle : "))
hgt = int(input("Enter the height of triangle : "))
triangle = lambda b, h: 1/2*b*h
print("Area of Triangle :", triangle(base, hgt))

radius = int(input("Enter the radius of cylinder : "))
hegt = int(input("Enter the height of cylinder : "))
cylinder = lambda r, h: math.pi*r*r*h
print("Area of Cylinder :", cylinder(radius, hegt))

Enter the radius of circle : 4
Area of Circle : 50.26548245743669
Enter the base of triangle : 6
Enter the height of triangle : 8
Area of Triangle : 24.0
Enter the radius of cylinder : 5
Enter the height of cylinder : 7
Area of Cylinder : 549.7787143782139

***A program to add two matrices.***

In [ ]:
r1 = int(input("Enter the no. of rows of First Matrix :"))
c1 = int(input("Enter the no. of columns of First Matrix :"))
    
r2 = int(input("Enter the no. of rows of Second Matrix :"))
c2 = int(input("Enter the no. of columns of Second Matrix :"))

if r1 == r2 and c1 == c2:
  mat1 = []
  print("Enter the elements of First Matrix :")
  for i in range(r1):
    list = []
    for j in range(c1):
      list.append(int(input()))
    mat1.append(list)

  mat2 = []
  print("Enter the elements of Second Matrix :")
  for i in range(r2):
    list = []
    for j in range(c2):
      list.append(int(input()))
    mat2.append(list)

  res = []
  print("The sum of two matrices is :")
  for i in range(r2):
    list = []
    for j in range(c2):
      ele = mat1[i][j] + mat2[i][j]
      list.append(ele)
    print(list)
    res.append(list)

else:
  print("The addition cannot be performed.")

Enter the no. of rows of First Matrix :3
Enter the no. of columns of First Matrix :3
Enter the no. of rows of Second Matrix :3
Enter the no. of columns of Second Matrix :3
Enter the elements of First Matrix :
1
2
3
4
5
6
7
8
9
Enter the elements of Second Matrix :
9
8
7
6
5
4
3
2
1
The sum of two matrices is :
10
10
10

10
10
10

10
10
10

***A program to multiply two matrices.***

In [ ]:
r1 = int(input("Enter the no. of rows of First Matrix :"))
c1 = int(input("Enter the no. of columns of First Matrix :"))
    
r2 = int(input("Enter the no. of rows of Second Matrix :"))
c2 = int(input("Enter the no. of columns of Second Matrix :"))

if c1 == r2:
  mat1 = []
  print("Enter the elements of First Matrix :")
  for i in range(r1):
    list = []
    for j in range(c1):
      list.append(int(input()))
    mat1.append(list)

  mat2 = []
  print("Enter the elements of Second Matrix :")
  for i in range(r2):
    list = []
    for j in range(c2):
      list.append(int(input()))
    mat2.append(list)

  res = []
  print("The multiplication of two matrices is :")
  for i in range(r1):
    list = []
    for j in range(c2):
      ele = 0
      for k in range(r2):
        ele += (mat1[i][k] * mat2[k][j])
      list.append(ele)
    print(list)
    res.append(list)

else:
  print("The multiplication cannot be performed.")

Enter the no. of rows of First Matrix :2
Enter the no. of columns of First Matrix :2
Enter the no. of rows of Second Matrix :2
Enter the no. of columns of Second Matrix :2
Enter the elements of First Matrix :
1
2
3
4
Enter the elements of Second Matrix :
1
2
3
4
The multiplication of two matrices is :
[7, 10]
[15, 22]

***A program to find transpose of a matrices.***

In [ ]:
r1 = int(input("Enter the no. of rows of Matrix :"))
c1 = int(input("Enter the no. of columns of Matrix :"))

if r1 == c1:
  print("Enter the elements of First Matrix :")
  mat1 = [[int(input()) for x in range (c1)] for y in range(r1)]

  res = []
  print("The tranpose of two matrices is :")
  for i in range(r2):
    list = []
    for j in range(c2):
      list.append(mat1[j][i])
    print(list)
    res.append(list)

else:
  print("The tranpose cannot be performed.")

Enter the no. of rows of Matrix :2
Enter the no. of columns of Matrix :2
Enter the elements of First Matrix :
1
4
7
5
The tranpose of two matrices is :
[1, 7]
[4, 5]

***A program to find average of a numeric list.***

In [ ]:
num = int(input("Enter the number of terms : "))
list = []
print("Enter the terms : ")
for i in range(num):
  list.append(int(input()))
avg = 0
for i in range(num):
  avg += list[i]
avg /= num
print("The average of terms of list =", avg)

Enter the number of terms : 4
Enter the terms :
10
15
41
10
The average of terms of list = 19.0

***A program to access members of list using different variations of slice operations.***

In [ ]:
lst = [x*x for x in range(1,6)]
print("Display whole list :", lst[::])
print("Display whole list in stps of 2 :", lst[::2])
print("Display list in reverse order :", lst[::-1])
print("Display list from 1 to 5 index :", lst[1:5:])
print("Display list from 1 index :", lst[1:])
print("Display list upto 5 index :", lst[:5])

Display whole list : [1, 4, 9, 16, 25]
Display whole list in stps of 2 : [1, 9, 25]
Display list in reverse order : [25, 16, 9, 4, 1]
Display list from 1 to 5 index : [4, 9, 16, 25]
Display list from 1 index : [4, 9, 16, 25]
Display list upto 5 index : [1, 4, 9, 16, 25]

***A program to concatenate two lists.***

In [ ]:
lst1 = [x*x for x in range(1,6)]
lst2 = [x for x in range(1,6)]
con_lst = lst1 + lst2
print("Concatinated list :", con_lst)
lst1.extend(lst2)
print("Concatinated list using extend function :", lst1)

Concatinated list : [1, 4, 9, 16, 25, 1, 2, 3, 4, 5]
Concatinated list using extend function : [1, 4, 9, 16, 25, 1, 2, 3, 4, 5]

***A program to find index of a specific element and print number of occurence.***

In [ ]:
lst = [x*x for x in range(1,10)]
n = len(lst)
find = int(input("Enter the number to find :"))
count = 0
indices = []
for i in range(n):
  if find == lst[i]:
    indices.append(i)
    count += 1

if count != 0:
  print("The number is found at",count,"positions in :", indices, "places")
else:
  print("The number is not found")

Enter the number to find :4
The number is found at 1 positions in : [1] places

***A program to find identify duplicate in a list.***

In [ ]:
lst1 = [x*x for x in range(1,6)]
lst2 = [x for x in range(1,6)]
con_lst = lst1 + lst2
unique = []
duplicate = []
  
for i in con_lst:
    if i not in unique:
        unique.append(i)
    else:
        duplicate.append(i)
  
print("Duplicate list :",duplicate)

Duplicate list : [1, 4]

***A program to iterate over dictionary usinf for loop and built in functions.***

In [ ]:
dictin = {"name":"smith", "age":20, "country":"India", "height":5.8}
print("Using builtin functions :")
print("Dictionary :", dictin)
print("Keys :", dictin.keys())
print("Values :", dictin.values())
print("items :", dictin.items())

print("Using for loop :")
for i in dictin:
  print(i, ":", dictin[i])

print("Using for loop and items() :")
for k, v in dictin.items():
  print(k, ":", v)

Using builtin functions :
Dictionary : {'name': 'smith', 'age': 20, 'country': 'India', 'height': 5.8}
Keys : dict_keys(['name', 'age', 'country', 'height'])
Values : dict_values(['smith', 20, 'India', 5.8])
items : dict_items([('name', 'smith'), ('age', 20), ('country', 'India'), ('height', 5.8)])
Using for loop :
name : smith
age : 20
country : India
height : 5.8
Using for loop and items() :
name : smith
age : 20
country : India
height : 5.8

***A program to illustrate nested dictionary***.

In [ ]:
dictin = {"name":"smith", 
          "age":20, 
          "country":"India", 
          "height":5.8, 
          "address":{"colony":"VIP estates", "pincode":452002, "city":"Indore"}
          }
print("Nested Dictionary example :", dictin)
print("name :", dictin["name"])
print("address :", dictin["address"])
print("address(colony) :", dictin["address"]["colony"])

Nested Dictionary example : {'name': 'smith', 'age': 20, 'country': 'India', 'height': 5.8, 'address': {'colony': 'VIP estates', 'pincode': 452002, 'city': 'Indore'}}
name : smith
address : {'colony': 'VIP estates', 'pincode': 452002, 'city': 'Indore'}
address(colony) : VIP estates

***A program to sort the dictionary according to keys.***

In [ ]:
myDict = {'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}
myKeys = list(myDict.keys())
myKeys.sort()
sorted_dict = {i: myDict[i] for i in myKeys}
print(sorted_dict)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

***A program to sort the dictionary according to values.***

In [ ]:
footballers_goals = {'Eusebio': 120, 'Cruyff': 104, 'Pele': 150, 'Ronaldo': 132, 'Messi': 125}

sorted_footballers_by_goals = sorted(footballers_goals.items(), key=lambda x:x[1])
print(dict(sorted_footballers_by_goals))

{'Cruyff': 104, 'Eusebio': 120, 'Messi': 125, 'Ronaldo': 132, 'Pele': 150}

***A program to illustrate set operations.***

In [ ]:
set1 = {'a','e','i','o','u'}
set2 = {'a','b','c','d','e',True, 43}

print('Union using |:', set1 | set2)
print('Union using union():', set1.union(set2)) 

print('Intersection using &:', set1 & set2)
print('Intersection using intersection():', set1.intersection(set2)) 

print('Difference using &:', set1 - set2)
print('Difference using difference():', set1.difference(set2)) 

print('Symmetric Difference using ^:', set1 ^ set2)
print('Symmetric Difference using symmetric_difference():', set1.symmetric_difference(set2))

Union using |: {'e', 'i', True, 'b', 'd', 'o', 43, 'u', 'a', 'c'}
Union using union(): {'e', 'i', True, 'b', 'd', 'o', 43, 'u', 'a', 'c'}
Intersection using &: {'e', 'a'}
Intersection using intersection(): {'e', 'a'}
Difference using &: {'i', 'o', 'u'}
Difference using difference(): {'i', 'o', 'u'}
Symmetric Difference using ^: {True, 'u', 'c', 'i', 'b', 'd', 'o', 43}
Symmetric Difference using symmetric_difference(): {True, 'u', 'c', 'i', 'b', 'd', 'o', 43}

***A program to check whether a string is a palindrome or not.***

In [ ]:
str = input("Enter the string to check : ")
n = len(str)
flag = 0

for i in range(n//2):
  if str[i] != str[n-1-i]:
    flag = 1
    break

if flag == 1:
  print("String is not palindrome.")
else:
  print("String is palindrome.")

Enter the string to check : asdfdsw
String is not palindrome.

***A program to remove puntuatuion marks from a string.***

In [ ]:
str = input("Enter the string : ")
ans = ""

for i in str:
  if (i>='a' and i<='z') or (i>='A' and i<='Z') or i==' ':
    ans += i

print("Puntuation removed string is ", ans)

Enter the string to check : as$5r^*gfhn>  ag$df
Puntuation removed string is  asrgfhn  agdf

***A program to sort all words of string alphabetically.***

In [1]:
str = input("Enter the string : ")
words = str.split()
words.sort()
print("The sorted string is :")
print(" ".join(words))

Enter the string : as a good day
The sorted string is :
a as day good

***A program to count the number of vowels in a string.***

In [ ]:
str = input("Enter the string : ")
count = 0
vowels = ('a','e','i','o','u','A','E','I','O','U')

for i in str:
  if i in vowels:
    count += 1

print("Vowels appeared in the string", count, "times.")

Enter the string to check : Aditya
Vowels appeared in the string 3 times.

***A program to check two strings are anagram or not.***

In [ ]:
str1 = input("Enter the first string : ")
str2 = input("Enter the second string : ")
if sorted(str1) == sorted(str2):
  print("The strings are Anagrams")
else:
  print("The strings are Anagrams")

Enter the first string : Aditya
Enter the second string : ditaya
The strings are Anagrams

***A program to count occurence of each word in a string.***

In [ ]:
str = input("Enter the string : ")
words = str.split()
count = 0
ans = dict()
for i in words:
  if i in ans:
    ans[i] += 1
  else:
    ans[i] = 1

print("The number of each word occurence is :" ,ans)

Enter the string : the quick brown fox jumps over the lazy dog.
The number of each word occurence is : {'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog.': 1}

***A program to reverse the words of a string.***

In [ ]:
str = input("Enter the string : ")
words = str.split()
words.reverse()
print(" ".join(words))

Enter the string : I am a student
student a am I